/bin/
/citadel/
/config/jei/world/local
/crash-reports/
/journeymap/
/libraries/
/local/
/logs/
/mods/
/patchouli_books/
/resourcepacks/
/saves/
/screenshots/
/shaderpacks/
/releases/
/world/
.qmenu_opened.marker
banned-ips.json
banned-players.json
build_release.sh
eula.txt
fetch_updates.sh
ops.json
patchouli_data.json
rhino.local.properties
usercache.json
usernamecache.json
whitelist.json
