# Configuration file

gem_finder {
    S:targets <
        alltheores:other_lapis_ore, 0xff0000ff, lapis
        alltheores:other_diamond_ore, 0xff3de0e5, diamond
        alltheores:other_emerald_ore, 0xff08aa2f, emerald
        alltheores:other_quartz_ore, 0xfff3f0e6, quartz
        alltheores:ruby_ore, 0xff9b111e, ruby
        alltheores:deepslate_ruby_ore, 0xff9b111e, ruby
        alltheores:sapphire_ore, 0xff0018a8, sapphire
        alltheores:deepslate_sapphire_ore, 0xff0018a8, sapphire
        alltheores:peridot_ore, 0xff8fd917, peridot
        alltheores:deepslate_peridot_ore, 0xff8fd917, peridot
     >
}


metal_finder {
    S:targets <
        alltheores:aluminum_ore, 0xffbfc7d2, aluminum
        alltheores:deepslate_aluminum_ore, 0xffbfc7d2, aluminum
        alltheores:other_aluminum_ore, 0xffbfc7d2, aluminum
        alltheores:iridium_ore, 0xffd4cec8, iridium
        alltheores:deepslate_iridium_ore, 0xffd4cec8, iridium
        alltheores:other_iridium_ore, 0xffd4cec8, iridium
        alltheores:copper_ore, 0xffc56544, copper
        alltheores:other_copper_ore, 0xffc56544, copper
        alltheores:lead_ore, 0xff212251, lead
        alltheores:deepslate_lead_ore, 0xff212251, lead
        alltheores:other_lead_ore, 0xff212251, lead
        alltheores:nickel_ore, 0xffd8c68e, nickel
        alltheores:deepslate_nickel_ore, 0xffd8c68e, nickel
        alltheores:other_nickel_ore, 0xffd8c68e, nickel
        alltheores:osmium_ore, 0xffa9b7c9, osmium
        alltheores:deepslate_osmium_ore, 0xffa9b7c9, osmium
        alltheores:other_osmium_ore, 0xffa9b7c9, osmium
        alltheores:platinum_ore, 0xffdae9f0, platinum
        alltheores:deepslate_platinum_ore, 0xffdae9f0, platinum
        alltheores:other_platinum_ore, 0xffdae9f0, platinum
        alltheores:silver_ore, 0xff95a9b1, silver
        alltheores:deepslate_silver_ore, 0xff95a9b1, silver
        alltheores:other_silver_ore, 0xff95a9b1, silver
        alltheores:tin_ore, 0xff96b9b5, tin
        alltheores:deepslate_tin_ore, 0xff96b9b5, tin
        alltheores:other_tin_ore, 0xff96b9b5, tin
        alltheores:zinc_ore, 0xffbebed5, zinc
        alltheores:deepslate_zinc_ore, 0xffbebed5, zinc
        alltheores:other_zinc_ore, 0xffbebed5, zinc
        alltheores:uranium_ore, 0xff49b84a, uranium
        alltheores:deepslate_uranium_ore, 0xff49b84a, uranium
        alltheores:other_uranium_ore, 0xff49b84a, uranium
        alltheores:other_gold_ore, 0xffffd700, gold
        alltheores:other_iron_ore, 0xffdeb887, iron
     >
}


mineral_finder {
    # List of all blocks the finder should be looking for.
    # The format is <unitId>, <colorARGB> [, <groupName>]
    # 
    # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
    # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
    # UnitName must be lowercase, words separated by '_', words order - from private to common (example: black_iron_ore).
    # Use '*' char or '[]' as meta value to specify all possible values (all block states).
    # To define multiple block states, you can use block properties. The format is <modId:blockName:[prop1=value1, prop2=value2]>
    # Also you may use tags. The format is <#modId:tagPath> (example: #forge:ores/copper).
    # 
    # Color in ARGB (Alpha, Red, Green, Blue) hex format (0xaarrggbb)
    # 
    # Group name is necessary for having one needle for each ore group(one needle for all copper ores, one for all gold ores, etc.)
    # If not set then unitName will be used.
    # 
    S:targets <
        alltheores:other_coal_ore, 0xff000000, coal
        alltheores:other_redstone_ore, 0xffff0000, redstone
     >
}


